# Xcode
# ========================
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode User Data (ეს ბლოკავს წეღანდელ ერორს და იუზერის სეთინგებს)
# ========================
xcuserdata/
*.xcuserdatad
*.xcuserstate
*.xcschememanagement.plist
project.xcworkspace/
!project.xcworkspace/contents.xcworkspacedata

# CocoaPods & Swift Package Manager (ლოკალური ქეშები)
# ========================
.Pods/
/Pods/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/package.resolved

# macOS ხარვეზები
# ========================
.DS_Store
Files.dat

# Firebase & Crashlytics (დროებითი ფაილები)
# ========================
crashlytics_build_sender_secret.json